@use '../themes/colors' as c;

@use '../themes/typography' as t;

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  color: c.$white;
}

.first-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo,
.phone-number {
  width: 30%;
  padding: 2% 0;
  text-align: left;
  font-size: 1.5rem;
}

.phone-number {
  text-align: right;
}

nav.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
  }

  li {
    width: 20%;
    text-align: center;
    padding: 1% 0;

    a:link,
    a:visited {
      text-decoration: none;
    }

    a:hover {
      opacity: 0.7;
    }
  }

  .home {
    background-color: c.$white;

    a:link,
    a:visited {
      color: c.$bg-color-black;
    }
  }

  .navbar_booking {
    background-color: c.$bg-color-black;

    a:link,
    a:visited {
      color: c.$white;
    }
  }

  .about_us,
  .navbar_menu,
  .contact_us {
    background-color: c.$bg-color-grey;

    a:link,
    a:visited {
      color: c.$white;
    }
  }
}
